<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <title>FacultyPage</title>
</head>
<body>
    <form action="groupPage" method="get" class="header">
        <div class="header__column faculty">
            <h3 class="header__column__title">Faculty</h3>
            <select name="facultyId" class="header__column__input">
                <option
                        th:each="faculty : ${facultyList}" th:value="${faculty.id}"
                        th:text="${faculty.title}">
                </option>
            </select>
        </div>

        <div>
            <button type="submit" value="Show">Show</button>
        </div>
    </form>
</body>
</html>