<!--Temporary view!!!-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no,
          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <title>StartPage</title>
</head>
<body>

    <header class="header">
        <h1 class="header__greeting">Greeting, choose who you are</h1>
    </header>

    <main class="greeting__form__container">
        <form class="greeting__form" action="facultyPage" method="get">
             <button class="greeting__form__button" value="value">Student</button>
        </form>

        <form class="greeting__form" action="teacherForm" method="get">
            <button class="greeting__form__button" value="value">Teacher</button>
        </form>
    </main>
</body>
</html>