<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <title>Document</title>
</head>
<body>

<table class="table">
    <tr>
        <th>
            <a class="table__link" href="./form.html">mon</a>
        </th>
        <th>tue</th>
        <th>wed</th>
        <th>thu</th>
        <th>fri</th>
        <th>sat</th>
        <th>sun</th>
    </tr>
    <tr>
        <th class="table__date">
            <th:block th:text="${weekDates.get(0)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(1)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(2)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(3)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(4)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(5)}"/>
        </th>
        <th class="table__date">
            <th:block th:text="${weekDates.get(6)}"/>
        </th>
    </tr>
    <tr>
        <td th:if="${lessons.containsKey('Monday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Monday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td th:if="${lessons.containsKey('Tuesday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Tuesday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td th:if="${lessons.containsKey('Wednesday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Wednesday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td th:if="${lessons.containsKey('Thursday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Thursday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td th:if="${lessons.containsKey('Friday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Friday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td th:if="${lessons.containsKey('Saturday')}" class="table__field">
            <div class="table__field__rectangle"
                 th:each="value : ${lessons.get('Saturday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
        <td  th:if="${lessons.containsKey('Sunday')}" class="table__field">
            <div class="table__field__rectangle" th:each="value : ${lessons.get('Sunday')}">
                Subject
                <br>
                <th:block th:text="${value.subject.title}"/>
                <br>
                Audience
                <br>
                #<th:block th:text="${value.audience.audienceNumber}"/>
                <br>
                Group
                <br>
                <th:block th:text="${value.group.groupNumber}"/>
                <br>
                Faculty
                <br>
                <th:block th:text="${value.group.faculty.title}"/>
                <br>
                Type
                <br>
                <th:block th:text="${value.type}"/>
            </div>
        </td>
    </tr>
</table>

</body>
</html>
